
body {
    max-width: 1200px;
    margin: 0 auto;
    overflow: auto;
    /* background-color: #eff0f1; */
}

.app {
    margin: 1%;
}

.main {
    margin: 1rem;
    text-align: center;
    /* background-color: white;
    border: 2px solid gray; */
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #19e773;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin: auto auto;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
  }

  .user-form * {
    padding: 0.3rem;
  }

  .user-form input {
    border: 2px solid rgba(129, 193, 75, 0.9);;
  }

  .user-form label {
    color: rgb(94, 95, 94);
  }

  .user-send {
    margin: 1rem;
    padding: 0.3rem;
    background-color: rgba(129, 193, 75, 0.5);
    cursor: pointer;
  }

  .user-send:hover {
    background-color: rgba(129, 193, 75, 0.9);
  }