.forum-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.forum-list {
    list-style-type: none;
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
}

.forum-list li {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: lightgoldenrodyellow;
    border-bottom: 2px solid grey;
    font-size: large;
}

.forum-list li p {
    margin-left: auto;
    padding: 1rem;
}

.list-item-summary {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.list-item-summary div {
    font-size: x-large;
    border: 2px solid #caca03;
    padding: 1.4rem;
    max-width: 50px;
}

.list-item-summary-like {
    color: #53751f;
}

.list-item-summary-dislike {
    color: palevioletred;
}

.forum-list-header {
    text-align: left;
    padding: 0.3rem;
}

.forum-list-short-text {
    text-align: left;
    margin: 0px 0px 5px 5px;
}

.forum-list-user {
    text-align: right;
    margin: 0px 0px 5px 5px;
}

.forum-btn-new-post {
    padding: .8em;
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: #8dc75d;
    outline: none;
    font-size: 15px;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
}