.post-question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 98%;
    margin: 0 auto;
    padding: 1rem;
}

.post-question div {
    margin-bottom: 10px;
}

.posts-title-wrapper, .posts-tags-wrapper, .posts-body-wrapper{
    text-align: left;
}

.posts-title-wrapper input, .posts-tags-wrapper input{
        width: 98%;
        margin: 0;
        padding: .6em .7em;
        border: 1px solid grey;
        border-radius: 3px;
        background-color: white;
        color: grey;
        font-size: 13px;
        scrollbar-color: var(--scrollbar) transparent;
}

.new-post-title, .new-post-tags, .new-post-body {
    font-size: large;
    font-weight: bold;
}

.posts-text-editor {
    margin: 0px auto;
    height: 100%;
    width: 100%;
}