.user-info {
    display: flex;
    padding: 1rem;
    justify-content: space-around;
}

.user-info span {
    font-size: x-large;
    padding: 0.3rem;
}

.user-info-header{
    font-weight: bold;
    color: #318eed;
    padding: 0.3rem;
    font-size: xx-large;
}

.user-activity {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: medium;
}

.user-activity div {
    width: 50%;
}

.user-activity li {
    list-style-type: none;
    padding: 0.3rem;
}

.user-questions li {
    color: cadetblue;
}

.user-comments li {
    color: coral;
}