.post-title{
    font-size: xx-large;
    border-bottom: 2px solid rgba(129, 193, 75, 0.9);
}

.post-body {
    font-size: large;
    border-bottom: 2px solid rgba(129, 193, 75, 0.9);
}

.post-author {
    text-align: right;
    font-weight: bold;
}